{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %}



<h1 align="center">Messages</h1>
<div style="width:device-width;height:55vh;line-height:3em;overflow:scroll;padding:5px;display: flex;
flex-direction: column-reverse;">
    
{% include "messages.html" %}
<script>setInterval(function() {fetch('/Update').then(function (response) {
	//console.log("response.text()")
	return response.text();
}).then((res) => document.getElementById("messages").innerHTML =res).catch((err) => console.log(err));},1000)</script>
</div>
<br/>
{% include "form.html" %}


{% endblock %}

